main {
}
/* .blurbg{
  margin:0;
  padding:0;
  width:100vw;
  height:100vh;
  background-size:cover;
  background-image:url("Nature.jpg");
  background-repeat:no-repeat;
  background: transparent url('img/Image 3.png') 0% 0% no- 
  repeat padding-box;
  opacity: 1;
  filter: blur(5px);
} */
.bigcontainer{
  position:relative;
  top:60px;
  width:100vw;
  height:100vh;
  background-size:cover;
  background-image:url("image001.png");
  background-repeat:no-repeat;
  background: transparent url('img/Image 3.png') 0% 0% no- 
  repeat padding-box;
}
.container{
  display:flex;
  width:100vw;
  height:100vh;
  flex-direction:column;
  align-items:center;
  justify-content:space-evenly;
  
  /* opacity: 1; */
  backdrop-filter:blur(5px);
}
/* @media screen and (max-width:1439px){
  .container{
    height:115vh;
  }
}
@media screen and (max-width:1336px){
  .container{
    height:120vh;
  }
} */
@media screen and (max-width:1439px){
  .container{
    height:115vh;
  }
  .bigcontainer{
    height:115vh;
  }
}
@media screen and (max-width:1361px){
  .container{
    height:130vh;
  }
  .bigcontainer{
    height:130vh;
  }
}
@media screen and (max-width:1336px){
  .container{
    height:144vh;
  }
  .bigcontainer{
    height:144vh;
  }
}
@media screen and (max-width:1243px){
  .container{
    height:173vh;
  }
  .bigcontainer{
    height:173vh;
  }
}
@media screen and (max-width:907px){
  .container{
    height:190vh;
  }
  .bigcontainer{
    height:190vh;
  }
}
@media screen and (max-width:710px){
  .container{
    height:218vh;
  }
  .bigcontainer{
    height:218vh;
  }
}
@media screen and (max-width:668px){
  .container{
    height:260vh;
  }
  .bigcontainer{
    height:260vh;
  }
}
@media screen and (max-width:532px){
  .container{
    height:290vh;
  }
  .bigcontainer{
    height:290vh;
  }
}
/* @media screen and (max-width:900px){
  .container{
    height:300vh;
  }
} */ 